* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    height: 200%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(190deg,
            hsl(267deg 66% 33%) 0%,
            hsl(267deg 66% 32%) 13%,
            hsl(267deg 66% 31%) 19%,
            hsl(267deg 65% 30%) 24%,
            hsl(267deg 65% 30%) 28%,
            hsl(266deg 65% 29%) 32%,
            hsl(266deg 64% 28%) 35%,
            hsl(266deg 64% 27%) 39%,
            hsl(266deg 63% 26%) 42%,
            hsl(266deg 63% 25%) 45%,
            hsl(266deg 62% 24%) 48%,
            hsl(266deg 61% 23%) 52%,
            hsl(266deg 60% 22%) 55%,
            hsl(266deg 59% 21%) 58%,
            hsl(265deg 58% 20%) 61%,
            hsl(265deg 56% 19%) 65%,
            hsl(265deg 54% 18%) 68%,
            hsl(264deg 51% 16%) 72%,
            hsl(264deg 47% 15%) 76%,
            hsl(263deg 41% 13%) 81%,
            hsl(261deg 30% 10%) 87%,
            hsl(0deg 0% 7%) 100%);
}

.header-text-wrapper {
    padding: 50px;
}

.header-text-wrapper h1,
.header-text-wrapper h4 {
    color: #FFFBFC;
    text-align: center;
}

#section-selector {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 15px;
}

#section-selector ul {
    list-style: none;
    justify-content: center;
    gap: 15px;
    padding: 5px 10px;
    background-color: #9171f8;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 0px 10px;   
    border: 1px solid black;
}

#section-selector ul li {
    cursor: pointer;
    border-radius: 10px;
    padding: 7px 10px;
}

#section-selector ul li:hover:not(.selected-section) {
    background-color: #7a5af5;
}

#section-selector ul li a {
    text-decoration: none;
    color: #FFFBFC;
}

.selected-section {
    background-color: #5e43f3;
    border-radius: 5px;
}

@media only screen and (max-width: 485px){
    #section-selector ul li {
        background-color: #5e43f3;
    }
}

#sections ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* #sections {display: none} */

#sections ul li {
    margin-top: 200px;
    padding-top: 90px;
}

#sections ul li h2 {
    color: #FFFBFC;
    border-bottom: 2px solid #ba9ffb;
}
